extends layout

block body
  include ./component/header
  div#section-container
    div.section.hero
      include ./section/hero
    div.section.about-me
      include ./section/about-me
    div.section.blog
      include ./section/blog
    div.section.resume
      include ./section/resume
    div.section.services
      include ./section/services
    div.section.contact
      include ./section/contact
  include ./component/footer
