div.container
  div.row
    div.col.m12.l4
      img(src="/images/viktor-snow.jpg").responsive-img
    div.col.m12.l8
      div.card
        div.card-content
          span.card-title= section.aboutMe[lng].title
          p= section.aboutMe[lng].subtitle
          p= section.aboutMe[lng].personal
          div.professional= section.aboutMe[lng].professional
