h1.center-align= section.blog[lng].title
div.container
  ul.collection
    // for article in section.blog[lng].articles
    //   li.collection-item
    //     a(href="#{article.href}")= article.title
div.center-align
  a.waves-effect.waves-light.btn-large(href='#{section.blog[lng].call_to_action.href}')= section.blog[lng].call_to_action.title