h1.center-align= section.contact[lng].title
h2.center-align= section.contact[lng].subtitle
div.container
  div.row
    div.col.s6
      h5= section.contact[lng].personal
      div.phone +380638867177
      div.email viktor.likin@gmail.com
    div.col.s6
      div.valign-wrapper
        div.social
          a.linkedin(target='_blank' href="https://www.linkedin.com/in/viktor-shelepen-0a7962103/")
          a.facebook(target='_blank' href="https://www.facebook.com/viktor.likin")
          a.twitter(target='_blank' href="https://twitter.com/vlikin")
          a.github(target='_blank' href="https://github.com/vlikin")
          a.drupal(target='_blank' href="https://www.drupal.org/u/likin")
          a.stackoverflow(target='_blank' href="https://stackoverflow.com/users/1501573/viktor-likin")
